<aside class="wts16a web-trends-september-2016-artwork__image-on-hover">
  <h3>Image on hover</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/kidstudio-portrait_tablet.png, /assets/images/kidstudio-portrait_tablet2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/kidstudio-portrait_tablet.png, /assets/images/kidstudio-portrait_tablet2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/kidstudio-portrait_tablet.png, /assets/images/kidstudio-portrait_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/kidstudio-portrait_tablet.png, /assets/images/kidstudio-portrait_tablet2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/kidstudio-portrait_tablet.png" alt="Kid Studio">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      Kid Studio
    
  </figcaption>
</figure>

</aside>

<aside class="wts16a web-trends-september-2016-artwork__horizontal-scrolling">
  <h3>Horizontal scrolling</h3>

  

<section class="article__slider">
  <h3>Slider</h3>

  <section class="slider ">
    <h3 class="slider__title">Article slider</h3>

    <div class="slider__slides">
    
      <div class='slide'>
        
        
        




<figure class="figure">

  
  
  
    
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/marsmaiers_desktop.jpg, /assets/images/marsmaiers_desktop2x.jpg 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/marsmaiers_laptop.jpg, /assets/images/marsmaiers_laptop2x.jpg 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/marsmaiers_tablet.jpg, /assets/images/marsmaiers_tablet2x.jpg 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/marsmaiers_mobile.jpg, /assets/images/marsmaiers_mobile2x.jpg 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/marsmaiers_laptop.jpg" alt="Mars Maiers">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      Mars Maiers
    
  </figcaption>
</figure>

      </div>
    
      <div class='slide'>
        
        
        




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/yale_desktop.png, /assets/images/yale_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/yale_laptop.png, /assets/images/yale_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/yale_tablet.png, /assets/images/yale_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/yale_mobile.png, /assets/images/yale_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/yale_laptop.png" alt="Yale / Paul Rand">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      Yale / Paul Rand
    
  </figcaption>
</figure>

      </div>
    
    </div>
  </section>

  
  <nav class="slider__bullets article__bullets">
  <h3>Navigation bullets</h3>

  
    



  


<div class="button bullet bullet--active">
  <span class="span inactive">O</span>
  <span class="span active">&bull;</span>
</div>

  
    




<div class="button bullet ">
  <span class="span inactive">O</span>
  <span class="span active">&bull;</span>
</div>

  
</nav>

</section>

</aside>

<aside class="wts16a web-trends-september-2016-artwork__custom-spacers">
  <h3>Custom spacers</h3>

  
    <aside class="spacer">
  <h3>Spacer</h3>

  <div class="spacer__text">
    ///////////////////////////////////////////////////////////////////////////
  </div>

  <div class="spacer__chars">
    
  </div>
</aside>

  
    <aside class="spacer">
  <h3>Spacer</h3>

  <div class="spacer__text">
    Thisisacustomspacer
  </div>

  <div class="spacer__chars">
    
  </div>
</aside>

  
</aside>

<aside class="wts16a web-trends-september-2016-artwork__background-animation">
  <h3>Background animation</h3>

  
  
    <div class="arrow move-element">
      
      <span class="arrow-with-triangle arrow-with-triangle--top ">
  <span class="arrow-with-triangle__line"></span>

  
  <span class="triangle triangle--top arrow-with-triangle__triangle"></span>

</span>

    </div>
  
    <div class="arrow move-element">
      
      <span class="arrow-with-triangle arrow-with-triangle--top ">
  <span class="arrow-with-triangle__line"></span>

  
  <span class="triangle triangle--top arrow-with-triangle__triangle"></span>

</span>

    </div>
  
    <div class="arrow move-element">
      
      <span class="arrow-with-triangle arrow-with-triangle--top ">
  <span class="arrow-with-triangle__line"></span>

  
  <span class="triangle triangle--top arrow-with-triangle__triangle"></span>

</span>

    </div>
  
    <div class="arrow move-element">
      
      <span class="arrow-with-triangle arrow-with-triangle--top ">
  <span class="arrow-with-triangle__line"></span>

  
  <span class="triangle triangle--top arrow-with-triangle__triangle"></span>

</span>

    </div>
  
    <div class="arrow move-element">
      
      <span class="arrow-with-triangle arrow-with-triangle--top ">
  <span class="arrow-with-triangle__line"></span>

  
  <span class="triangle triangle--top arrow-with-triangle__triangle"></span>

</span>

    </div>
  
    <div class="arrow move-element">
      
      <span class="arrow-with-triangle arrow-with-triangle--top ">
  <span class="arrow-with-triangle__line"></span>

  
  <span class="triangle triangle--top arrow-with-triangle__triangle"></span>

</span>

    </div>
  
    <div class="arrow move-element">
      
      <span class="arrow-with-triangle arrow-with-triangle--top ">
  <span class="arrow-with-triangle__line"></span>

  
  <span class="triangle triangle--top arrow-with-triangle__triangle"></span>

</span>

    </div>
  
    <div class="arrow move-element">
      
      <span class="arrow-with-triangle arrow-with-triangle--top ">
  <span class="arrow-with-triangle__line"></span>

  
  <span class="triangle triangle--top arrow-with-triangle__triangle"></span>

</span>

    </div>
  
    <div class="arrow move-element">
      
      <span class="arrow-with-triangle arrow-with-triangle--top ">
  <span class="arrow-with-triangle__line"></span>

  
  <span class="triangle triangle--top arrow-with-triangle__triangle"></span>

</span>

    </div>
  
  
</aside>

<aside class="wts16a web-trends-september-2016-artwork__horizontal-lines">
  <h3>Horizontal lines</h3>
</aside>

<aside class="wts16a web-trends-september-2016-artwork__marquee">
  <h3>Marquee</h3>

  
    <div class="marquee marquee--1">◈ ◈ ◈ ◈ ◈</div>
  
    <div class="marquee marquee--2">Back to nineties !!! ♥ ♥ ♥ ♥ ♥</div>
  
    <div class="marquee marquee--3">◈ ◈ ◈ ◈ ◈</div>
  
</aside>

<aside class="wts16a web-trends-september-2016-artwork__raster-images">
  <h3>Raster images</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/kidstudio-portrait_tablet.png, /assets/images/kidstudio-portrait_tablet2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/kidstudio-portrait_tablet.png, /assets/images/kidstudio-portrait_tablet2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/kidstudio-portrait_tablet.png, /assets/images/kidstudio-portrait_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/kidstudio-portrait_tablet.png, /assets/images/kidstudio-portrait_tablet2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/kidstudio-portrait_tablet.png" alt="Kid Studio">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      Kid Studio
    
  </figcaption>
</figure>

</aside>

<aside class="wts16a web-trends-september-2016-artwork__rolling-chars">
  <h3>Rolling chars</h3>

  <aside class="text-rolling">
  <h3>Rolling text</h3>

  <div class="text-rolling__text">Rolling chars, aye!</div>
  <div class="text-rolling__chars"></div>
</aside>

</aside>

<aside class="wts16a web-trends-september-2016-artwork__custom-cursors">
  <h3>Custom cursors</h3>

  
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
</aside>

<aside class="wts16a web-trends-september-2016-artwork__animated-typography">
  <h3>Animated typography</h3>

  <img class="img" src="/assets/images/Friction_2_Anim_1024x1024.gif" alt="Friction" />
  <img class="img" src="/assets/images/BasicSpace_Anim_1024x1024.gif" alt="Basic Space" />
</aside>

<aside class="wts16a web-trends-september-2016-artwork__video">
  <h3>Video</h3>

  
  <aside class="article__video article__video--">
  <h3>Video</h3>

  <video class="video lazy" preload="metadata" poster="/assets/images/architetti-poster.png" autoplay loop>
  
    <source data-src="/assets/videos/architetti.mp4" type="video/mp4">
  

  
    <source data-src="/assets/videos/architetti.webm" type="video/webm">
  

  
    <source data-src="/assets/videos/architetti.ogv" type="video/ogg">
  

  <!-- Flash fallback -->
  <object type="application/x-shockwave-flash" data="flash-player.swf?videoUrl=/assets/videos/architetti.mp4" width="1024" height="768">
     <param name="movie" value="flash-player.swf?videoUrl=/assets/videos/architetti.mp4" />
     <param name="allowfullscreen" value="true" />
     <param name="wmode" value="transparent" />
     <param name="flashvars" value="controlbar=over&amp;image=/assets/images/architetti-poster.png&amp;file=flash-player.swf?videoUrl=/assets/videos/architetti.mp4" />
     <img alt="Architetti Alpino" src="/assets/images/architetti-poster.png" width="1024" height="768" title="No video playback possible, please download the video from the link below" />
  </object>

  <!-- Offer download -->
  <a class="link" href="/assets/videos/architetti.mp4">Download MP4</a>
</video>


  <div class="video-link">
    
    

  
    
  

  


  


  

  

  <a class="link " href="/" title=""></a>

  </div>
</aside>

</aside>

<aside class="wts16a web-trends-september-2016-artwork__scroll-hijacking">
  <h3>Scroll hijacking</h3>

  
  <aside class="article__video article__video--">
  <h3>Video</h3>

  <video class="video lazy" preload="metadata" poster="/assets/images/rembrandt-poster.png" autoplay loop>
  
    <source data-src="/assets/videos/rembrandt.mp4" type="video/mp4">
  

  
    <source data-src="/assets/videos/rembrandt.webm" type="video/webm">
  

  
    <source data-src="/assets/videos/rembrandt.ogv" type="video/ogg">
  

  <!-- Flash fallback -->
  <object type="application/x-shockwave-flash" data="flash-player.swf?videoUrl=/assets/videos/rembrandt.mp4" width="1024" height="768">
     <param name="movie" value="flash-player.swf?videoUrl=/assets/videos/rembrandt.mp4" />
     <param name="allowfullscreen" value="true" />
     <param name="wmode" value="transparent" />
     <param name="flashvars" value="controlbar=over&amp;image=/assets/images/rembrandt-poster.png&amp;file=flash-player.swf?videoUrl=/assets/videos/rembrandt.mp4" />
     <img alt="The Next Rembrandt" src="/assets/images/rembrandt-poster.png" width="1024" height="768" title="No video playback possible, please download the video from the link below" />
  </object>

  <!-- Offer download -->
  <a class="link" href="/assets/videos/rembrandt.mp4">Download MP4</a>
</video>


  <div class="video-link">
    
    

  
    
  

  


  


  

  

  <a class="link " href="/" title=""></a>

  </div>
</aside>

</aside>

