@mixin articles-grid-regrid($margin) {
  @include landscape {
    .article--what-to-learn-next-december-2016,
    .article--what-to-learn-next-november-2017 {
      border-right: 0;
    }

    .article--what-to-learn-next-december-2016-artwork,
    .article--what-to-learn-next-november-2017-artwork {
      border: 1px solid !important;
      border-left: 0 !important;
    }

    .article--no-more-problems-on-the-front-end,
    .article--practically,
    .article--what-to-learn-next-december-2016,
    .article--what-to-learn-next-november-2017,
    .article--what-to-learn-next-december-november-2017,
    .article--web-trends-september-2016,
    .article--web-trends-september-2017,
    .article--unicorn-forever-artwork,
    .article--a-few-recent-graphic-design-works,
    .article--on-old-and-new-stacks,
    .article--the-designer-who-doesnt-code {
      margin-right: $margin;
    }

    .article--ideally,
    .article--delivering-the-message,
    .article--what-to-learn-next-december-2016-artwork,
    .article--what-to-learn-next-november-2017-artwork,
    .article--web-trends-september-2016-artwork,
    .article--web-trends-september-2017-artwork,
    .article--unicorn-forever,
    .article--democratization-of-design,
    .article--design-systems-are-a-cultural-challenge,
    .article--lost-and-found-works {
      margin-right: 0;
    }
  }
}
