@mixin article($border: all, $author_type: large) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @include article--border($border);
  @include colors(black-on-white);

  opacity: 1;
  @include transition(all);

  &--being-altruistic {
    @include article--being-altruistic;
  }

  &--a-few-recent-graphic-design-works {
    @include article--a-few-recent-graphic-design-works;
  }

  &--lost-and-found-works {
    @include article--lost-and-found-works;
  }

  &--democratization-of-design {
    @include article--democratization-of-design;
  }

  &--2018 {
    @include article--2018;
  }

  &--2018-artwork {
    @include article--2018-artwork;
  }

  &--blame-the-algorithm {
    @include article--blame-the-algorithm;
  }

  &--web-technologies-for-2018 {
    @include article--web-technologies-for-2018;
  }

  &--risk {
    @include article--risk;
  }

  &--unicorn-forever-artwork {
    @include article--unicorn-forever-artwork;
  }

  &--unicorn-forever {
    @include article--unicorn-forever;
  }

  &--unit-of-sense {
    @include article--unit-of-sense;
  }

  &--tomorrowww {
    @include article--tomorrowww;
  }

  &--contact {
    @include article--contact;
  }

  &--herculean {
    @include article--herculean;
  }

  &--is-it-web-or-photoshop {
    @include article--is-it-web-or-photoshop;
  }

  &--brutalist-websites-january-2017 {
    @include article--brutalist-websites-january-2017;
  }

  &--masters-of-web-february-2016,
  &--masters-of-web-july-2016,
  &--brutalist-websites-january-2017,
  &--masters-of-web-september-2017,
  &--masters-of-web-october-2018 {
    @include article--masters-of-web;
  }

  &--what-some-people-apart-are-up-to-in-2016 {
    @include article--what-some-people-apart-are-up-to-in-2016;
  }

  &--web-trends-september-2016,
  &--web-trends-september-2017 {
    @include article--web-trends;
  }

  &__title {
    @include article__title;
  }

  &__thumb {
    @include article__thumb;
  }

  &__excerpt {
    @include article__excerpt;
  }

  &__date {
    @include article__date;
  }

  &__categories {
    @include article__categories;
  }

  &__more {
    @include article__more;
  }

  &__slider {
    @include article__slider;
  }

  &__authors {
    @include article__authors($author_type);
  }

  &__list {
    @include article__list;
  }

  &__video {
    @include article__video;
  }

  .notice {
    @include notice;
  }
}
