<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="author" content="humans.txt">

<meta property="og:title" content="Beat">
<meta property="og:url" content="/">
