<video class="video lazy" preload="metadata" poster="/assets/images/" >
  

  

  

  <!-- Flash fallback -->
  <object type="application/x-shockwave-flash" data="flash-player.swf?videoUrl=/assets/videos/.mp4" width="" height="">
     <param name="movie" value="flash-player.swf?videoUrl=/assets/videos/.mp4" />
     <param name="allowfullscreen" value="true" />
     <param name="wmode" value="transparent" />
     <param name="flashvars" value="controlbar=over&amp;image=/assets/images/&amp;file=flash-player.swf?videoUrl=/assets/videos/.mp4" />
     <img alt="" src="/assets/images/" width="" height="" title="No video playback possible, please download the video from the link below" />
  </object>

  <!-- Offer download -->
  <a class="link" href="/assets/videos/.mp4">Download MP4</a>
</video>
