







  
    
  

  


  


  

  
    
  

  <a class="link " href="https://morethemes.baby" title="More Themes baby">





<figure class="figure">

  
  
  
    
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/more_desktop.png, /assets/images/more_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/more_laptop.png, /assets/images/more_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/more_tablet.png, /assets/images/more_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/more_mobile.png, /assets/images/more_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/more_laptop.png" alt="More Themes Baby">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
  
    
  

  


  


  

  
    
  

  <a class="link " href="https://morethemes.baby" title="More Themes baby">
      More Themes Baby
    </a>
  </figcaption>
</figure>

</a>