<aside class="contact-artwork">
  <h3>Contact Artwork</h3>

  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      
    
  
    
  

  
  
  

  
<aside class="figure-with-text-around-circle">
  <h3>Figure with a text around in circle</h3>

  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  
    
    
  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/email_mobile.png, /assets/images/email_mobile2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/email_mobile.png, /assets/images/email_mobile2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/email_mobile.png, /assets/images/email_mobile2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/email_mobile.png, /assets/images/email_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/email_mobile.png" alt="Email icon">
    
  </picture>

  <figcaption class="figcaption figcaption">
    
  
    
  

  


  


  

  

  <a class="link " href="/contact" title="• Follow • Contact ">
      Follow / Contact
    </a>
  </figcaption>
</figure>

  

<div class="text-around-circle">
  <span class="text-around-circle__text">
    
      
  
    
  

  


  


  

  

  <a class="link " href="/contact" title="• Follow • Contact ">• Follow • Contact 
    
  </span>

  <span class="text-around-circle__chars"></span>
</div>

</aside>

</aside>
