<section class="x-list">
  <h3 class="title">List example</h3>

  
  

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="0">
  

  
    <h3 class="list-item__title">New standards and new budgets</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="1">
  

  
    <h3 class="list-item__title">Being altruistic</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="2">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">A few recent graphic design works</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="3">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">Lost and found works</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="4">
  

  
    <h3 class="list-item__title">On old and new stacks</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="5">
  

  
    <h3 class="list-item__title">Design systems are a cultural challenge</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="6">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">The designer who doesn&#39;t code</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="7">
  

  
    <h3 class="list-item__title">Democratization of design</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="8">
  

  
    <h3 class="list-item__title">Masters Of Web, October 2018</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="9">
  

  
    <h3 class="list-item__title">2018</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="10">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">Artwork for 2018</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="11">
  

  
    <h3 class="list-item__title">Blame The Algorithm</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="12">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">Web Technologies for 2018</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="13">
  

  
    <h3 class="list-item__title">Risk</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="14">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">What To Learn Next, November 2017</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="15">
  

  
    <h3 class="list-item__title">What To Learn Next, November 2017 Artwork</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="16">
  

  
    <h3 class="list-item__title">Masters Of Web, September 2017</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="17">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">Web Trends September 2017</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="18">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">Artwork for Web Trends September 2017</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="19">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">Artwork for Unicorn Forever</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="20">
  

  
    <h3 class="list-item__title">Unicorn forever</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="21">
  

  
    <h3 class="list-item__title">On Brutalism</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="22">
  

  
    <h3 class="list-item__title">Brutalist Websites, January 2017</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="23">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">What To Learn Next, December 2016</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="24">
  

  
    <h3 class="list-item__title">What To Learn Next, December 2016 Artwork</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="25">
  

  
    <h3 class="list-item__title">The checklist</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="26">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">Web Trends September 2016</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="27">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">Artwork for Web Trends September 2016</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="28">
  

  
    <h3 class="list-item__title">Please Design For The Web</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="29">
  

  
    <h3 class="list-item__title">Masters Of Web, July 2016</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="30">
  

  
    <h3 class="list-item__title">Unit of sense</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="31">
  

  
    <h3 class="list-item__title">The web stack</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="32">
  

  
    <h3 class="list-item__title">Gulp, BEM, Components</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="33">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">Tomorrowww</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="34">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">Practically</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="35">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">Ideally</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="36">
  

  
    <h3 class="list-item__title">Masters Of Web, February 2016</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="37">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">What Some People Apart Are Up To In 2016</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="38">
  

  
    <h3 class="list-item__title">Is It Web Or Photoshop?</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="39">
  

  
    <h3 class="list-item__title">Herculean</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="40">
  

  
    <h3 class="list-item__title">No More Problems On The Front End</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="41">
  

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="42">
  

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="43">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">Delivering The Message</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="44">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">Creating A Styleguide With Gulp</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="45">
  
    <aside class="list-item__thumb">
  <h3>Thumb</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>

  

  
    <h3 class="list-item__title">Contact</h3>

  

  

  

  

  
</article>

  
    <article class="list-item" data-template="list-item-template" data-data="home" data-collection="articles" data-id="46">
  

  

  

  

  

  
</article>

  
</section>
