






<figure class="figure">

  
  
  
    
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/unicorn_desktop.png, /assets/images/unicorn_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/unicorn_laptop.png, /assets/images/unicorn_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/unicorn_tablet.png, /assets/images/unicorn_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/unicorn_mobile.png, /assets/images/unicorn_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/unicorn_laptop.png" alt="Unicorn">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      Unicorn
    
  </figcaption>
</figure>

