<aside class="wts17a web-trends-september-2017-artwork__web-design-is-typography">
  <h3>Web design is typography</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/ontheinsideart-com-portrait_tablet.png, /assets/images/ontheinsideart-com-portrait_tablet2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/ontheinsideart-com-portrait_tablet.png, /assets/images/ontheinsideart-com-portrait_tablet2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/ontheinsideart-com-portrait_tablet.png, /assets/images/ontheinsideart-com-portrait_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/ontheinsideart-com-portrait_tablet.png, /assets/images/ontheinsideart-com-portrait_tablet2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/ontheinsideart-com-portrait_tablet.png" alt="On The Inside Art">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      On The Inside Art
    
  </figcaption>
</figure>

</aside>

<aside class="wts17a web-trends-september-2017-artwork__interactive-code-art">
  <h3>Web trends September 2017 artwork interactive code art</h3>

  
  <aside class="article__video article__video--">
  <h3>Video</h3>

  <video class="video lazy" preload="metadata" poster="/assets/images/101at-poster.png" autoplay loop>
  
    <source data-src="/assets/videos/101at.mp4" type="video/mp4">
  

  
    <source data-src="/assets/videos/101at.webm" type="video/webm">
  

  
    <source data-src="/assets/videos/101at.ogv" type="video/ogg">
  

  <!-- Flash fallback -->
  <object type="application/x-shockwave-flash" data="flash-player.swf?videoUrl=/assets/videos/101at.mp4" width="1024" height="768">
     <param name="movie" value="flash-player.swf?videoUrl=/assets/videos/101at.mp4" />
     <param name="allowfullscreen" value="true" />
     <param name="wmode" value="transparent" />
     <param name="flashvars" value="controlbar=over&amp;image=/assets/images/101at-poster.png&amp;file=flash-player.swf?videoUrl=/assets/videos/101at.mp4" />
     <img alt="101at" src="/assets/images/101at-poster.png" width="1024" height="768" title="No video playback possible, please download the video from the link below" />
  </object>

  <!-- Offer download -->
  <a class="link" href="/assets/videos/101at.mp4">Download MP4</a>
</video>


  <div class="video-link">
    
    

  
    
  

  


  


  

  

  <a class="link " href="/" title=""></a>

  </div>
</aside>

</aside>

<aside class="wts17a web-trends-september-2017-artwork__new-kind-of-gallery">
  <h3>Web trends September 2017 artwork new kind of gallery</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/abscreenwear-gallery_tablet.png, /assets/images/abscreenwear-gallery_tablet2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/abscreenwear-gallery_tablet.png, /assets/images/abscreenwear-gallery_tablet2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/abscreenwear-gallery_tablet.png, /assets/images/abscreenwear-gallery_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/abscreenwear-gallery_tablet.png, /assets/images/abscreenwear-gallery_tablet2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/abscreenwear-gallery_tablet.png" alt="Abscreenwear gallery">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      Abscreenwear gallery
    
  </figcaption>
</figure>

</aside>

<aside class="wts17a web-trends-september-2017-artwork__bordered-layout">
  <h3>Web trends September 2017 artwork bordered layout</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/macaudesignbiennial-com-portrait_tablet.png, /assets/images/macaudesignbiennial-com-portrait_tablet2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/macaudesignbiennial-com-portrait_tablet.png, /assets/images/macaudesignbiennial-com-portrait_tablet2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/macaudesignbiennial-com-portrait_tablet.png, /assets/images/macaudesignbiennial-com-portrait_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/macaudesignbiennial-com-portrait_tablet.png, /assets/images/macaudesignbiennial-com-portrait_tablet2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/macaudesignbiennial-com-portrait_tablet.png" alt="Macau Design Biennial">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      Macau Design Biennial
    
  </figcaption>
</figure>

</aside>

<aside class="wts17a web-trends-september-2017-artwork__layers">
  <h3>Web trends September 2017 artwork layers</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/xxix-co-portrait_tablet.png, /assets/images/xxix-co-portrait_tablet2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/xxix-co-portrait_tablet.png, /assets/images/xxix-co-portrait_tablet2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/xxix-co-portrait_tablet.png, /assets/images/xxix-co-portrait_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/xxix-co-portrait_tablet.png, /assets/images/xxix-co-portrait_tablet2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/xxix-co-portrait_tablet.png" alt="XXIX">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      XXIX
    
  </figcaption>
</figure>

</aside>

<aside class="wts17a web-trends-september-2017-artwork__hand-drawn-decorations">
  <h3>Web trends September 2017 artwork hand drawn decorations</h3>

  
  <aside class="article__video article__video--">
  <h3>Video</h3>

  <video class="video lazy" preload="metadata" poster="/assets/images/macau-poster.png" autoplay loop>
  
    <source data-src="/assets/videos/macau.mp4" type="video/mp4">
  

  
    <source data-src="/assets/videos/macau.webm" type="video/webm">
  

  
    <source data-src="/assets/videos/macau.ogv" type="video/ogg">
  

  <!-- Flash fallback -->
  <object type="application/x-shockwave-flash" data="flash-player.swf?videoUrl=/assets/videos/macau.mp4" width="1024" height="768">
     <param name="movie" value="flash-player.swf?videoUrl=/assets/videos/macau.mp4" />
     <param name="allowfullscreen" value="true" />
     <param name="wmode" value="transparent" />
     <param name="flashvars" value="controlbar=over&amp;image=/assets/images/macau-poster.png&amp;file=flash-player.swf?videoUrl=/assets/videos/macau.mp4" />
     <img alt="Macau Design Biennial" src="/assets/images/macau-poster.png" width="1024" height="768" title="No video playback possible, please download the video from the link below" />
  </object>

  <!-- Offer download -->
  <a class="link" href="/assets/videos/macau.mp4">Download MP4</a>
</video>


  <div class="video-link">
    
    

  
    
  

  


  


  

  

  <a class="link " href="/" title=""></a>

  </div>
</aside>

</aside>

<aside class="wts17a web-trends-september-2017-artwork__live-data">
  <h3>Web trends September 2017 artwork live data</h3>

  
  <aside class="article__video article__video--">
  <h3>Video</h3>

  <video class="video lazy" preload="metadata" poster="/assets/images/wade-poster.png" autoplay loop>
  
    <source data-src="/assets/videos/wade.mp4" type="video/mp4">
  

  
    <source data-src="/assets/videos/wade.webm" type="video/webm">
  

  
    <source data-src="/assets/videos/wade.ogv" type="video/ogg">
  

  <!-- Flash fallback -->
  <object type="application/x-shockwave-flash" data="flash-player.swf?videoUrl=/assets/videos/wade.mp4" width="1024" height="768">
     <param name="movie" value="flash-player.swf?videoUrl=/assets/videos/wade.mp4" />
     <param name="allowfullscreen" value="true" />
     <param name="wmode" value="transparent" />
     <param name="flashvars" value="controlbar=over&amp;image=/assets/images/wade-poster.png&amp;file=flash-player.swf?videoUrl=/assets/videos/wade.mp4" />
     <img alt="Wade Jeffre" src="/assets/images/wade-poster.png" width="1024" height="768" title="No video playback possible, please download the video from the link below" />
  </object>

  <!-- Offer download -->
  <a class="link" href="/assets/videos/wade.mp4">Download MP4</a>
</video>


  <div class="video-link">
    
    

  
    
  

  


  


  

  

  <a class="link " href="/" title=""></a>

  </div>
</aside>

</aside>

<aside class="wts17a web-trends-september-2017-artwork__changing-colors">
  <h3>Web trends September 2017 artwork changing colors</h3>

  
  <aside class="article__video article__video--">
  <h3>Video</h3>

  <video class="video lazy" preload="metadata" poster="/assets/images/negativelabs-poster.png" autoplay loop>
  
    <source data-src="/assets/videos/negativelabs.mp4" type="video/mp4">
  

  
    <source data-src="/assets/videos/negativelabs.webm" type="video/webm">
  

  
    <source data-src="/assets/videos/negativelabs.ogv" type="video/ogg">
  

  <!-- Flash fallback -->
  <object type="application/x-shockwave-flash" data="flash-player.swf?videoUrl=/assets/videos/negativelabs.mp4" width="1024" height="768">
     <param name="movie" value="flash-player.swf?videoUrl=/assets/videos/negativelabs.mp4" />
     <param name="allowfullscreen" value="true" />
     <param name="wmode" value="transparent" />
     <param name="flashvars" value="controlbar=over&amp;image=/assets/images/negativelabs-poster.png&amp;file=flash-player.swf?videoUrl=/assets/videos/negativelabs.mp4" />
     <img alt="Negative Labs" src="/assets/images/negativelabs-poster.png" width="1024" height="768" title="No video playback possible, please download the video from the link below" />
  </object>

  <!-- Offer download -->
  <a class="link" href="/assets/videos/negativelabs.mp4">Download MP4</a>
</video>


  <div class="video-link">
    
    

  
    
  

  


  


  

  

  <a class="link " href="/" title=""></a>

  </div>
</aside>

</aside>

<aside class="wts17a web-trends-september-2017-artwork__animated-cursors">
  <h3>Web trends September 2017 artwork animated cursors</h3>

  
  <aside class="article__video article__video--">
  <h3>Video</h3>

  <video class="video lazy" preload="metadata" poster="/assets/images/danielgivens-poster.png" autoplay loop>
  
    <source data-src="/assets/videos/danielgivens.mp4" type="video/mp4">
  

  
    <source data-src="/assets/videos/danielgivens.webm" type="video/webm">
  

  
    <source data-src="/assets/videos/danielgivens.ogv" type="video/ogg">
  

  <!-- Flash fallback -->
  <object type="application/x-shockwave-flash" data="flash-player.swf?videoUrl=/assets/videos/danielgivens.mp4" width="1024" height="768">
     <param name="movie" value="flash-player.swf?videoUrl=/assets/videos/danielgivens.mp4" />
     <param name="allowfullscreen" value="true" />
     <param name="wmode" value="transparent" />
     <param name="flashvars" value="controlbar=over&amp;image=/assets/images/danielgivens-poster.png&amp;file=flash-player.swf?videoUrl=/assets/videos/danielgivens.mp4" />
     <img alt="Daniel Givens" src="/assets/images/danielgivens-poster.png" width="1024" height="768" title="No video playback possible, please download the video from the link below" />
  </object>

  <!-- Offer download -->
  <a class="link" href="/assets/videos/danielgivens.mp4">Download MP4</a>
</video>


  <div class="video-link">
    
    

  
    
  

  


  


  

  

  <a class="link " href="/" title=""></a>

  </div>
</aside>

</aside>

<aside class="web-trends-september-2017-artwork__spacer">
  <h3></h3>

  
  <aside class="spacer">
  <h3>Spacer</h3>

  <div class="spacer__text">
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  </div>

  <div class="spacer__chars">
    
  </div>
</aside>

</aside>

