<footer class="footer">
  <h3>Footer</h3>

  
  

  
    
  

  


  


  

  
    
  

  <a class="link flip beat" href="/" title="Beat">
  
  
<span class="flip__span" data-hover="Beat">Beat</span>

</a>


  by

  
  

  
    
  

  


  


  

  
    
  

  <a class="link flip metamn" href="http://metamn.io" title="METAMN">
  
  
<span class="flip__span" data-hover="METAMN">METAMN</span>

</a>

</footer>
