<section class="x-intrinsic-ratio">
  <h3 class="x-intrinsic-ratio__title">Intrinsic ratio</h3>

  <aside class="x-intrinsic-ratio--simple">
  <h3 class="title">Simple intrinsic ratio example</h3>

  <div class="container">
    <p>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
      This element has to have an intrinsic ratio of 16:9 set. <br/>
    </p>
  </div>

  <p>
    If the content is bigger than the container it must be truncated, otherwise overflows.
  </p>
</aside>

  <aside class="x-intrinsic-ratio--with-image">
  <h3 class="title">Intrinsic ratio with image example</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>


  <p>
    This image has to have a 1:1 intrinsic ratio. And it must look distorted since the original image is a rectangle in landscape mode.
  </p>
</aside>

  <aside class="x-intrinsic-ratio--with-image-stretched">
  <h3 class="title">Intrinsic ratio with image stretched example</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>


  <p>
    This image has to have a 1:1 intrinsic ratio. Since it's stretched it can't have this ratio.
  </p>
</aside>

</section>
