<aside class="what-some-people-apart-are-up-to-in-2016__ala">
  <h3>Based on A List Apart article</h3>

  
  
  

  
<aside class="figure-with-text-around-circle">
  <h3>Figure with a text around in circle</h3>

  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

  

<div class="text-around-circle">
  <span class="text-around-circle__text">
    
      
    
  </span>

  <span class="text-around-circle__chars"></span>
</div>

</aside>

</aside>
