<aside class="wts16a web-trends-september-2016-artwork__custom-cursors">
  <h3>Custom cursors</h3>

  
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
    <div class="cursor">
      <img class="img" src="/assets/images/arrow-right-large.png" alt="Arrow right" />
    </div>

    <div class="cursor">
      <img class="img" src="/assets/images/arrow-top-left-large.png" alt="Arrow top left" />
    </div>
  
</aside>
