<aside class="wts17a web-trends-september-2017-artwork__new-kind-of-gallery">
  <h3>Web trends September 2017 artwork new kind of gallery</h3>

  
  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" data-srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1024px)" data-srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" data-srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source media="(max-width: 599px)" data-srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    

    
    
    
    <img class="img lazy" data-src="/assets/images/_laptop.png" alt="">
    
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
      
    
  </figcaption>
</figure>

</aside>
